[submodule "frontend"]
	path = frontend
	url = https://github.com/zenith110/CMS-Frontend
[submodule "backend"]
	path = backend
	url = https://github.com/zenith110/CMS-Backend
[submodule "CMS-Infrastructure"]
	path = CMS-Infrastructure
	url = https://github.com/zenith110/CMS-Infrastructure
